.resume-body {
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}
.resume-body h1 {
    font-size: 3em;
}
.resume-body .date {
    float:none;
    display:block;
}
.resume-body .date::before {
    content: "(";
}
.resume-body .date::after {
    content: ")";
}
.resume-body .basic-info .schoolinfo,
.resume-body .basic-info .perminfo {
    float: none;
    text-align: center;
    margin: 10px;
    line-height: 1.5em;
}